<header class="header">
  <div class="profile-side-section-content">
    <div class="profile-side-section-back">
      <button class="profile-side-section-back-button" (click)='back()'>
        <span data-icon="back-light" class="">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="#FFF" d="M20 11H7.8l5.6-5.6L12 4l-8 8 8 8 1.4-1.4L7.8 13H20v-2z"></path>
          </svg>
        </span>
      </button>
    </div>
    <div class="profile-side-section-header-text">New Chat</div>
  </div>
</header>
